.header h4{
  font-size: 20px ;
  --tw-text-opacity: 1;
    color: rgb(3 7 18 / var(--tw-text-opacity));
  font-weight: 900;
}
p{
  font-size: 12px;
  --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
input:focus {
  outline: none;
}
.react-colorful{
  position: absolute !important;
}

input[type="color"] {
  padding: 0;
  border: none;
  width: 0;
  height: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}